!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/leaflet/leaflet.css')
    script(type: "text/javascript", 
      src: "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js")
    script(type='text/javascript', src='/leaflet/leaflet.js')
    script(type='text/javascript', src='/javascripts/mapme.js')
  body!= body
